.page-body{
    font-family: sans-serif;
	background-image: url("../img/page-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
}

.container{
	max-width: 1050px;
	margin: 0 auto;
	padding: 0 15px;
}


/* header start */

.header{
	padding: 35px 0 15px;
}

.menu{
	display: flex;
	justify-content: space-between;
}

.logo-link{
	display: flex;
	position: relative;
}

.logo-hover{
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}

.logo-link:hover .logo-hover{
	opacity: 1;
}

.logo-text {
	margin-left: 8px;
	font-weight: 700;
	font-size: 29px;
	line-height: 29px;
	color: #ffffff;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	transition: 0.5s;
}
.logo-text-small {
	font-size: 18px;
	line-height: 24px;
}

.logo-link:hover .logo-text {
	color: #f26522;
}

.contacts{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	min-height: 60px;
	justify-content: space-between;
}

.email,
.phone {
	font-size: 18px;
	line-height: 18px;
	color: #ffffff;
	transition: 0.5s;
}

.email:hover,
.phone:hover {
	color: #f26522;
}

/* header end */


.main{
	flex-grow: 1;
}

.card{
	position: relative;
	overflow: hidden;
}

.card-details{
	position: absolute;
	padding: 7px 15px 12px;
	background-color: #f26522;
	display: flex;
	justify-content: space-between;
	transition: 0.5s;
	bottom: -65px;
	left: 3px;
	right: 3px;
}

.tour-link{
	display: flex;
	flex-direction: column-reverse;
}

.tour-link:hover .card-details{
	bottom: 0;
}

.tour-list{
	display: grid;
	grid-template-columns:  repeat(3, 1fr);
	gap: 35px 58px;
	

}


/* .tour-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 35px 58px;
} */

.card-img {
	border-width: 3px;
	border-style: solid;
	border-image: linear-gradient(to bottom, #fff, #000) 1 100%;
	border-top: 0;
	border-bottom: 0;
}

.tour-link:hover .tour-name{
	color: #f26522;
}

.tour-name {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    transition: 0.5s;
}

.card-price {
	font-size: 10px;
	line-height: 10px;
	color: #ffffff;
}
.card-price-big {
	display: block;
	font-size: 20px;
	line-height: 20px;
	margin-top: 7px;
}
.card-view-details {
	font-size: 14px;
	line-height: 14px;
	color: #ffffff;
}

.card-view-details::after {
	content: "";
	display: inline-block;
	width: 11px;
	height: 11px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(45deg);
	margin-left: 10px;
	margin-top: 25px;
}

/* footer start */
.page-footer{
	padding-bottom: 15px;
}
.copyright {
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	color: #ffffff;
}
/* footer end */
