.page-body {
  background: #171717;
  font-family: 'Roboto', sans-serif;
}

.page-container{
  max-width: 1461px;
  margin: 0 auto;
}

/*header*/
.title-container{
  margin-top: 37px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-btn{
  color: #E4B564;
  border: 1px solid #E4B564;
  text-align: center;
  align-items: center;
  background-color: #171717;
  padding: 10px 25px;
}

.header-btn:hover{
  background-color: #363636;
  overflow: hidden;
  transition: background-color 0.7s ease; 
  cursor: pointer;
}

.main-btn:hover{
  background-color: #363636;
  overflow: hidden;
  transition: background-color 0.7s ease; 
  cursor: pointer;
}


.phone-icon{
  padding-right: 8px;
}

.logo2{
 display: flex;
 align-items: center;

}

.logo-name  {
  color: #E1E1E1;
  font-size: 90px;
}

.logo-name2{
  color: #B5B5B5;
  font-size: 37px;
  letter-spacing: 2px;
  font-weight: 300;
}

/*main*/
h1{
  font-weight: 700;
  color: white;
  font-size: 50px;
}

.main{
  margin-top: 89px;
}

.main-description{
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-top: 43px;
}

.main-container1 {
    display: grid;
    grid-template-areas: 
    "box1 box1 box2 box2 box3 box3"
    "box4 box4 box4 box5 box5 box5";
    grid-template-rows: 470px 470px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 34px;
    margin-top: 41px;
    margin-bottom: 161px;
}

.box:hover{
background-color: #474746;
cursor: pointer;
  transition: background-color 0.7s ease; 
}

.main-container1 > div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.box1{
  grid-area: box1;
  background-color: #634F2C;
}

.box2{
  grid-area: box2;
  background-color: #B4A385;
}

.box3 {
  grid-area: box3;
  background-color: #E4B564;
}

.box4 {
  grid-area: box4;
  background-color: #635A4A;
}

.box5{
  grid-area: box5;
  background-color: #B08C4D;
}


.grid-container1-title{
  margin-bottom: 94px;
}

.grid-container1 {
  display: grid;
  grid-template-areas: 
  "item1 item3 item5"
  "item1 item3 item5"
  "item2 item3 item6"
  "item2 item4 item6"
  "item2 item4 item7"
  "item2 item4 item7" ;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px 120px 160px 120px 120px 120px;
  grid-gap: 30px;
  padding-bottom: 190px;
}

.grid-item{
  color: white;
  padding-left: 51px;
  padding-top: 44px;
  font-size: 20px;
  font-weight: 200;
  line-height: 25px;
}

.grid-item5{
  color: black;
  padding-left: 51px;
  padding-top: 44px;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}

span {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
}

.item1{
  background-color: #0E0E0E;
  grid-area: item1;
}

.item2{
  background-color: #1F1F1F;
  grid-area: item2;
}

.item3{
  background-color: #242424;
  grid-area: item3;
}

.item4{
  background-color: #E4B564;
  grid-area: item4;
  color: black;
}

.item5{
  background-color: #1F1F1F;
  grid-area: item5;
  font-size: bold;
}

.item6{
  background-color: #0E0E0E;
  grid-area: item6;
}

.item7{
  background-color: #0A0909;
  grid-area: item7;
}

.grid-item:hover{
  background-color: #474746;
  cursor: pointer;
  transition: background-color 0.7s ease; 
}

.grid-item5:hover{
  background-color: #ffc400;
  cursor: pointer;
  transition: background-color 0.7s ease
}
  

.main-btn{
  color: #E4B564;
  border: 1px solid #E4B564;
  text-align: center;
  align-items: center;
  text-decoration: none;
  background-color: #171717;
  padding: 10px 40px;

}

.projects-cont{
  display: flex;
  max-width: 1461px;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 72px;
  padding-bottom: 270px;
}

.main-container3{
  display: flex;
  color: white;
  width: 487px;
  height: 391px;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  line-height: 28px;
  font-weight: 500;
  font-size: 22px;
}

.projects-cont-img2{
  padding-bottom: 10px;
}

.projects-cont-img{
  width: 185px;
}

.flex-item1{
  background-color: #634F2C;
}

.flex-item2{
  background-color: #635A4A;
}

.flex-item3{
  background-color: #B4A385;
}

.flex-item4{
  background-color: #B08C4D;
}

.flex-item5{
  background-color: #E4B564;
}

.flex-item6{
  background-color: #634F2C;
}

.flex-item{
  overflow:hidden; /* Обрезаем часть картинки, которая выходит за рамки */
  transition: transform 0.5s; /* Плавный переход для transform */
}

.flex-item:hover{
  transform: scale(0.9); /* Увеличение картинки при ховере */
}

