.page-body {
  font-family: 'Roboto', sans-serif;
  width: 1280px;
  margin: 0 auto;
}

/*header*/

.logo-link2{
  color: #4bcaff;
  font-size: 80px;
}

.logo-link{
  color: #000000;
  font-size: 80px;
}

.header-logo{
  margin-top: 63px;
  font-weight: 400;
  line-height: 94px;
}

.nav{
  background-color: #35444f;
  text-align: center;
  display: flex;
  justify-content:center;
  margin-top: 40px;
  padding-left: 20px;
}

.nav-section{
  transition: 0.2s;
  border-right: 1px solid white;
}

.nav-section-link{
  color: white;
  font-weight: 400;
  font-size: 24px;
  padding: 26px 37px 19px;
  display: flex;
}

.nav-section:first-child{
border-left: 1px solid white;
}

.nav-section:hover {
  background-color: #222f3a;
}
/*main*/

.sidebar-container {
  border: 1px solid;
  width: 342px;
}

.sidebar-nav-section-link {
  color: #485863;
  font-size: 27px;
  font-weight: 400;
  padding: 26px 0 26px 44px;
  display: flex;
}

.sidebar-nav-section:hover {
  background-color: #dbdbdb;
  transition: 1s;
  padding-left: 70px;
  color: black;
  border: 10px;
}

.main {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  align-items: flex-start;
}
.main-container {
  width: 885px;
}

.side-and-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 529px;
  border: 1px solid black;
}

.img-logo{
  overflow:hidden; /* Обрезаем часть картинки, которая выходит за рамки */
  transition: transform 0.5s; /* Плавный переход для transform */
}

.img-logo:hover {
  transform: scale(1.3); /* Увеличение картинки при ховере */
}

.main-text {
  font-size: 18px;
  line-height: 24px;
  margin-top: 37px;
  margin-bottom: 54px;
}

.main-text:first-of-type {
  margin-bottom: 34px;
}

/*footer*/

footer {
  padding-bottom: 30px;
}
.footer {
  background-color: #b4b7ba;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav {
  width: 875px;
  display: flex;
  justify-content: space-between;
}

.footer-nav-block-contant {
  text-decoration: none;
  font-size: 28px;
  color: black;
  text-align: center;
  padding: 20px 0;
  display: flex;
}
.footer-nav-block-contant:hover {
  color: #3181a6;
  transition: 0.2s;
  border-bottom: 1px solid #3181a6;
  padding-bottom: 11px;
}

.copyright {
  font-weight: 400;
  font-size: 24px;
}


